@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
  margin: 0;
}

.card{
  margin-top: 80px;
  margin-left: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 65px;
}
.movie-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  gap : 20px;
}

.form{
  margin-top: 68px;
}

.add-diet-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.add{
  margin-top: 65px;
}

.prodcut-specs{
  display:flex;
  justify-content: space-between;
}

.prodcut-name{
  margin: 0;
  font-size: 24px;
}
.product-summary{
  margin-top: 10;
}
.product-rating{
  font-size: 24px;
  margin: 0;
}

.frame{
  padding-top: 65px;
}
.not{
  background-image: url("https://media-exp1.licdn.com/dms/image/C5612AQEPYce5KpNLyg/article-cover_image-shrink_720_1280/0/1551659700811?e=2147483647&v=beta&t=O9mBMiF-V12jCRJwaBNDWLKNL8cku2QSoCXtKP3vCHg");
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.nt{
  right: 90%;
}
.h{
  text-align: center;
 
}
.b{
  /* background-image: url(https://images.everydayhealth.com/images/what-is-the-dash-diet-1440x810.jpg); */
  text-align: center;
  padding-top: 65px;
  font-style: sans-sherif 400;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* height: 700px; */
  width: 100%;
}
.log{
  padding-top: 100px;
}
.fram{
  margin-top: 65px;
}
.fit{
  
  padding-top: 65px;
  width: 400px;
  height: 300px;
}

.counter{
  position: fixed;
  top: 80px;
  left: 10px;
}

.delete{
  position: fixed;
  top: 80px;
  right: 5px;
}

.btn{
  left: 63%;
}

.btnn{
left: 830px;
}

.control{
  width: 50%;
  height: 150px;
  text-align: center;
  top: 150px;
}

.control_input{
 padding-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


.Addd{
  text-align: center;
  padding-top: 65px;
}

.Add{
  text-align: center;
}

.ad{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}